<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gift.name %>
</p>

<p>
  <strong>About:</strong>
  <%= @gift.about %>
</p>

<p>
  <strong>Image:</strong>
  <%= @gift.image %>
</p>

<p>
  <strong>Giftcard:</strong>
  <%= @gift.giftcard %>
</p>

<p>
  <strong>Person:</strong>
  <%= @gift.person_id %>
</p>

<p>
  <strong>Circlemember:</strong>
  <%= @gift.circleMember_id %>
</p>

<%= link_to 'Edit', edit_gift_path(@gift) %> |
<%= link_to 'Back', gifts_path %>
